.main {
    width: 100%;
}

.nav.nav-tabs {
    margin: -1px 0 -1px 0;
    padding: 0 60px;
    padding-top: 50px;
    border-color: #135394;
    background-color: #fff;
}

.nav-tabs .nav-link {
    color: #c4c5c8 !important;
    font-family: 'utm-avo' !important;
    padding-left: 40px;
    padding-right: 40px;
}

.nav-link.active {
    color: #fff !important;
    border-color: #135394 !important;
    background-color: #135394 !important;
}

.tab-pane .container-fluid {
    background-color: #135394;
    padding: 30px 0 !important;
}

.row .col .form-check-input:checked {
    background-image: url("../img/Checks.svg");
}

.row .col .form-check-input:checked[type=radio] {
    background-image: url("../img/Radios.svg");
}
